# Infrastructure
project-name = ""
stage = ""
region = ""
domain_name = ""
route53_zone_id = ""
cloudflare_email = ""
cloudflare_api_token = ""
cloudflare_zone_id = ""

# Webapp
nextauth_url         = ""
nextauth_secret      = ""
next_public_url      = ""
plausible_api_key    = ""
database_url         = ""
direct_url           = ""
edge_config          = ""
admin_email          = ""
github_client_id     = ""
github_client_secret = ""
openai_api_key       = ""