.header {
    color: #000;
    font-size: 4rem;
    font-weight: 500;
    padding-bottom: 1rem;
    margin: 0 1rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.5);
}

.header:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
}

.icons {
    fill: var(--foreground)
}

.icons svg {
    margin: 0 2rem;
}

@media only screen and (hover: none) and (pointer: coarse) {
    .icons svg {
        margin: 0.25rem 1rem;
    }
}

@media (prefers-color-scheme: dark) {
    .header {
        color: #fff;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }

    .header:hover {
        text-decoration-color: rgba(255, 255, 255, 1);
    }

    .icons {
        color: rgba(255, 255, 255, 1)
    }
}