.header {
    color: #000;
    font-size: 4rem;
    padding-bottom: 1rem;
    margin: 0;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.5);
}

.header:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
}

.icons {
    color: rgba(0, 0, 0, 1)
}

.icons a {
    padding: 0.25rem 0.5rem;
}

@media (prefers-color-scheme: dark) {
    .header {
        color: #fff;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }

    .header:hover {
        text-decoration-color: rgba(255, 255, 255, 1);
    }

    .icons {
        color: rgba(255, 255, 255, 1)
    }
}