.header {
    color: #000;
    font-size: 4rem;
    font-weight: 500;
    padding-bottom: 1rem;
    margin: 0;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.5);
}

.header:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
}

.icons {
    color: rgba(0, 0, 0, 1);
}

.icons a {
    margin: 0 2rem;
}

.icon {
    font-size: 2rem;
    position: absolute;
}

.icons a:hover * {
    font-size: 2.1rem;
    transition: 0.3s ease-out;
}

@media (prefers-color-scheme: dark) {
    .header {
        color: #fff;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }

    .header:hover {
        text-decoration-color: rgba(255, 255, 255, 1);
    }

    .icons {
        color: rgba(255, 255, 255, 1)
    }
}