@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-cell: #64b5f6;
    --secondary-cell: #ba68c8;
    --inactive-cell: #f2f2f2;
    --grid-line: #000;
}

[data-theme='dark'] {
    --primary-cell: #4a148c;
    --secondary-cell: #0d47a1;
    --inactive-cell: #101010;
    --grid-line: #ffffff80;
}
