html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  /* Your default theme */
  --background: #fff;
  --foreground: #000;

  --primary-cell: #64b5f6;
  --secondary-cell: #ba68c8;
  --inactive-cell: #fff;
  --grid-line: #000;
}

[data-theme='dark'] {
  --background: #050505;
  --foreground: #fff;

  --primary-cell: #4a148c;
  --secondary-cell: #0d47a1;
  --inactive-cell: #101010;
  --grid-line: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}