.container {
  padding: 0 2rem;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollParent {
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 100vh;
}

.scrollChild {
  scroll-snap-align: start;
  min-height: 100vh;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  position: absolute;
  height: 0;
}