.scrollParent {
  scroll-snap-type: y mandatory;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.scrollChild {
  scroll-snap-align: start;
  min-height: 100vh;
  width: 100vw;
}

.pageSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
}